temp
*/**/node_modules
!project/sanity/node_modules/sanity-super-pane/dist/index.esm.js
!project/sanity/node_modules/sanity-super-pane/dist/create-super-pane.d.ts
project/sanity/dist
project/api/appsettings.json
project/api/appsettings.Development.json
project/api/.vs/adx/DesignTimeBuild/.dtbcache.v2
project/api/.vs/adx/v16/.suo
project/api/obj
project/api/bin
client/api/.env
