.main {
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cardAdvert{
  margin: 1rem !important;
  margin-right: 0 !important;
}

.cardAdvert > .cardHeader {
  align-items: flex-start;
}

.cardAdvert > .cardHeader > h1{
  font-size: 1.5rem
}

.cardAdvert > .cardHeader > h5{
  font-size: 1rem;
  color: gray;
  margin-bottom: 0;
}


.card{
  margin: 1rem !important;
}

.cardHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardHeader h5 {
  margin-bottom: 1.25rem;
}

.cardLink{
  display: flex;
  flex: 1;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
}
.cardLink:hover{
  color: tomato;
  background-color: gray;
}

.cardLink:last-of-type{
  margin-bottom: 0;
}