.flex{
  display: flex !important;
  flex: 1 !important;
}

.advertForm{
  margin: 1rem;
}
.row{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.imageContainer {
  display: flex;
  overflow-x: auto;
}

.image {
  width: 140px;
  margin-right: 1.5rem;  
}

.image:last-of-type{
  margin-right: 0;
}