.left_menu {
  li {
    display: block;
    background-color: #eee;
    padding: 5px;
  }
}

.tag,
.seller,
.sector,
.enquiry {
  table[id="datatable"] {
    td {
      padding: 10px;
      @extend %actions-col;
    }
  }
}

.enquiry {
  table[id="datatable"] {
    td {
      &:nth-child(1) {
        width: 20px !important;
      }
      &:nth-child(2),
      &:nth-child(3) {
        b {
          color: rgba(0, 0, 255, 0.459);
        }
        width: 50%;
        div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.advert {
  table[id="datatable"] {
    tbody tr {
      td {
        padding: 10px;
        @extend %actions-col;

        &:nth-child(3) {
          width: 50px;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          width: 200px;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 5px;
        }
      }
    }
  }
}

.content {
}

.profile {
  .avatar {
    img {
      height: 140px;
      border-radius: 5px;
    }
  }
}

.seller {
  td {
    &:nth-child(1) {
      width: 100px !important;
    }
    &:nth-child(2) {
      width: 200px !important;
    }
  }
}

%actions-col {
  &:nth-child(1) {
    color: red;
    cursor: pointer;
    width: 30px;
  }
  &:nth-child(2) {
    color: darkblue;
    cursor: pointer;
    width: 30px;
  }
}

table[id="datatable"] {
  width: 100%;
  border-collapse: separate !important;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  border: 1;
  thead {
    background-color: #362f4b;
    tr {
      color: white;
      th {
        font-weight: normal;
        padding: 10px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(2n) {
        background-color: #efefef;
      }
    }
    tr[id="pager"] {
      td {
        color: #aaa;
      }
    }
  }
}

table[id="dataform"] {
  width: 100%;
  border-collapse: separate !important;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  border: 1;
  tbody {
    tr {
      &:nth-child(2n) {
        background-color: #efefef;
      }
      td {
        padding: 10px;
        input[type="text"],
        input[type="number"] {
          width: 100%;
          border: 1px solid #ccc;
          padding: 5px;
        }
        input[type="number"] {
          width: calc(100% - 10px);
        }
        &:nth-child(1),
        &:nth-child(3) {
          font-size: small;
          width: 100px;
          max-width: 100px;
          font-weight: bold;
        }
      }
    }
  }
  tfoot {
    td {
      padding: 10px;
    }
    background-color: white;
    button {
      width: 100%;
      border: 1px solid #ccc;
      padding: 5px;
    }
    button[data-id="save"] {
      background-color: #009cdf;
      color: white;
      &:disabled {
        background-color: lightgray;
      }
    }
  }
  span[data-id="error"] {
    font-size: small;
    color: red;
  }
}

.uploaded {
  display: flex;
  flex-wrap: wrap;
  .image {
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-bottom: 5px;
    a {
      color: red;
      display: flex;
      justify-content: center;
      cursor: pointer;
      img {
        height: 70px;
      }
    }
  }
}
