.left_menu {
  li {
    display: block;
    background-color: #eee;
    padding: 5px;
  }
}

.tag {
}

.sector {
}

.advert {
}

.content {
}

table[id="datatable"] {
  width: 100%;
  border-collapse: separate !important;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  border: 1;
  thead {
    background-color: #362f4b;
    tr {
      color: white;
      th {
        font-weight: normal;
        padding: 10px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(2n) {
        background-color: #efefef;
      }
      td {
        padding: 10px;
        &:nth-child(1) {
          color: red;
          cursor: pointer;
          width: 30px;
        }
        &:nth-child(2) {
          color: darkblue;
          cursor: pointer;
          width: 30px;
        }
      }
    }
    tr[id="pager"] {
      td {
        color: #aaa;
      }
    }
  }
}

table[id="dataform"] {
  width: 100%;
  border-collapse: separate !important;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  border: 1;
  tbody {
    tr {
      &:nth-child(2n) {
        background-color: #efefef;
      }
      td {
        padding: 10px;
        input {
          width: 100%;
          border: 1px solid #ccc;
          padding: 5px;
        }
        &:nth-child(1) {
          width: 100px;
          max-width: 100px;
          font-weight: bold;
        }
      }
    }
  }
  tfoot {
    td {
      padding: 5px;
    }
    background-color: white;
    button {
      width: 100%;
      border: 1px solid #ccc;
      padding: 5px;
    }
    button[data-id="save"] {
      background-color: #009cdf;
      color: white;
      &:disabled {
        background-color: lightgray;
      }
    }
  }
  span[data-id="error"] {
    font-size: small;
    color: red;
  }
}
