.left_menu {
  li {
    display: block;
    background-color: #eee;
    padding: 5px;
  }
}

.sector {
  table[id="datatable"] {
    width: 100%;
    border-collapse: separate !important;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    border: 1;
    thead {
      background-color: #362f4b;
      tr {
        color: white;
        th {
          font-weight: normal;
          padding: 10px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(2n) {
          background-color: #efefef;
        }
        td {
          padding: 10px;
          &:nth-child(1) {
            color: red;
            cursor: pointer;
            width: 30px;
          }
          &:nth-child(2) {
            color: darkblue;
            cursor: pointer;
            width: 30px;
          }
        }
      }
    }
  }
}
