.slider {
  display: flex;
  flex: 1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.slider ul {
  position: relative !important;
  display: flex !important;
  bottom: 0;
  flex: 1;
  margin-top: 1rem;
  justify-content: center;
}

.slider ul li,
.sliderThumbnailImage{
  position: relative;
  display: flex;
  width: 140px;
  height: auto;
}