.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
.info{
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 1.25rem;
}
.info:last-of-type{
  margin-bottom: 0;
}

.header{
  display: flex;
  flex: 1;
  color: gray;
  line-height: 1.5rem;
}

.description{
  display: flex;
  flex: 3;
  color: royalblue;
  text-align: justify;
  line-height: 1.5rem;
}