.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
.info{
  display: flex;
  flex: 1;
  flex-direction: row;
}

.header{
  display: flex;
  flex: 1;
  color: gray;
  line-height: 1.5rem;
}

.description{
  display: flex;
  flex-direction: column;
  flex: 3;
}

.descriptionHeader{
  line-height: 1.5rem;
  color: gray;
  margin-bottom: 1rem;
}
.descriptionText{
  text-align: justify;
  line-height: 1.5rem;
  color: royalblue;
  margin-bottom: 1rem;
}

.descriptionText:last-of-type{
  margin-bottom: 0;
}
