.card{
  margin: 2rem 1rem;
  padding: 0;
}

.card h5 {
  margin-right: 6rem;
}

.cardBody{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.cardDesc{
  display: flex;
  flex-direction: column;
  flex: 3;
  margin-right: 1rem;
}

.cardImages{
  display: flex;
  flex-direction: row;
  margin: 1.25rem 0;
}

.cardImageContainer{
  position: relative;
  width: 160px;
  border-radius: 0.5rem;
  margin-right: 2rem;
  -webkit-box-shadow: 0 0 8px -2px #00000080;
  -moz-box-shadow: 0 0 8px -2px #00000080;
  box-shadow: 0 0 8px -2px  #00000080;
}

.cardImage{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.cardImageOverlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000008f;
  border-radius: 0.5rem;
}

.cardImageOverlay p{
  margin-right: 1rem;
  font-size: 3rem;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,1);
}


.cardBody ul,
.cardBody li,
.cardBody strong,
.cardBody span{
  display: flex;
}

.cardBody ul{
  border-left: 1px solid lightgray;
  flex: 1;
}


.cardBody li{
  margin: 0 0 1rem;
}


.cardBody ul{
  flex-direction: column;
}


.badge{
  margin: 0.75rem;
}

.cardFooter{
  display: flex !important;
  flex-direction: row !important;
  padding: 0;
}

.cardLink{
  display: flex;
  flex: 1;
  padding: 0.5rem;
  justify-content: center;
  text-align: center;
  border-right: 1px solid lightgray;
}
.cardLink:last-of-type{
  border-right: none;
}

.cardLink:hover{
  text-decoration: none;
  color: white;
  background-color: #007bff;
}