@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

/* :root {
  --brand-primary: #a76d7a;
  --brand-secondary: #bf6fb2;
  --font-family-base: "arial";
} */

/* div[class*="Navbar_root"] {
  display: none;
} */

/* a[title="Vision"],
div[class*="Navbar_loginStatus"],
div[class*="Navbar_presenceStatus"],
div[class*="Navbar_sanityStatus"],
div[class*="Navbar_hamburger"] {
  display: none !important;
}
 */
