@media screen and (min-width: 1024px) {
  .app {
    .inner {
      width: 60%;
    }
    nav {
      &:first-child {
        .brand {
          justify-content: space-between;
          img {
            width: 118px;
            height: 36px;
          }
        }
      }
    }
    .mainbg {
      height: 600px;
      .slogan {
        h1 {
          font-size: 42px;
        }
        h2 {
          font-size: 20px;
        }
      }
      .searchbox {
        bottom: -20px;
        width: 70%;
        max-width: 1000px;
        padding: 50px;
        align-items: flex-end;

        .businessType,
        .location {
          margin-right: 20px;
          width: 40%;
        }
        input[type="button"] {
          width: 20%;
        }
      }
    }

    .queryinfo {
      @media screen and (min-width: 1024px) and (max-width: 1445px) {
        flex-direction: column;
      }
      div {
        padding: 50px 20px;
      }
    }

    .testimonials-bg {
      .people {
        flex-direction: row;
        @media screen and (min-width: 1024px) and (max-width: 1445px) {
          flex-direction: column;
        }
      }
    }

    .about {
      .abouttext {
        p {
          width: 50%;
        }
      }
    }

    .footer {
      .firstrow {
        .inner {
          display: flex;
          .seperator {
            display: flex;
            flex: 1;
          }
          line-height: 2em;
        }
        .discover {
          display: flex;
          flex: 3;
          flex-direction: column;
          align-items: flex-end;
          div {
            width: 50%;
            text-align: left;
          }
        }
        .contactus {
          flex: 3;
          flex-direction: column;
        }
      }
    }

    .business {
      .filters {
        .item {
          width: 50%;
          margin-bottom: 10px;
          &:nth-child(2n) {
            padding-left: 20px;
          }
          &:nth-child(2n + 1) {
            padding-right: 20px;
          }
        }
      }
      .list {
        .item {
          width: 50%;
        }
      }
    }
  }
}
