.app {
  .layout {
    min-height: 50vh;
  }
  .outer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    outline: 0;
  }
  nav {
    display: flex;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      li {
        padding: 0;
        list-style-type: none;
        display: inline;
        cursor: pointer;
      }
    }
    &:first-child {
      padding: 30px 0;
      ul {
        color: #096dba;
        li {
          margin: 0 10px 0 0;
          font-size: 1.2em;
          &:first-child {
            font-size: 2.5em;
            cursor: inherit;
          }
          &:nth-child(2) {
            font-size: 1em;
            margin: 0 20px;
          }
        }
      }
      .brand {
        display: flex;
        img {
          cursor: pointer;
        }
      }
    }
    &:nth-child(2) {
      background-color: #096dba;
      ul {
        color: white;
        li {
          font-size: 0.8em;
          padding: 20px 0;
          width: 100px;
          text-align: center;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          border-right: 1px solid rgba(255, 255, 255, 0.1);
          &:hover {
            background-color: #3f94d5;
          }
        }
      }
    }
  }

  .mainbg {
    background: linear-gradient(rgba(0, 46, 81, 0.4), rgba(0, 46, 81, 0.9)),
      url(../assets/linxbiz-header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .slogan {
      font-family: "Roboto", Sans-serif;
      color: white;

      h1 {
        font-weight: 200;
      }
      h2 {
        font-weight: 300;
      }
    }
    .searchbox {
      position: absolute;
      display: flex;
      background-color: white;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0px 20px 40px 0px rgb(0 0 0 / 10%);
      text-align: left;
      input {
        outline: 0;
        padding: 4px;
      }
      input[type="button"] {
        border: 0;
        background-color: #00aeff;
        color: white;
        cursor: pointer;
        height: 40px;
      }
      div {
        align-items: center;
        label {
          font-size: 0.8em;
          margin-bottom: 5px;
        }
      }
    }
  }

  .slide-bg {
    background-color: #f7f8f9;
  }

  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;

    padding-top: 70px;
    h1 {
      font-size: 25px;
      font-weight: 300;
    }
    h2 {
      color: #7a7a7a;
      font-size: 16px;
      font-weight: 300;
    }
    .carousel {
      max-width: 100%;
      margin: 40px 0;
      border: 10px solid white;
      background-color: white;
    }
  }

  .querybg {
    opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background-image: linear-gradient(
        rgba(6, 32, 60, 0.9),
        rgba(6, 32, 60, 0.7)
      ),
      url(../assets/querybg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .query {
      display: flex;
      .queryinfo {
        display: flex;
        flex: 3;
        justify-content: flex-start;

        hr {
          margin: inherit;
          width: 50%;
          border-color: rgba(255, 255, 255, 0.2);
        }
        div {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
          color: white;
          font-size: 30px;
          font-weight: 300;
          line-height: 1.3em;
          &:last-child {
            justify-content: center;
            hr {
              margin: 50px 0;
            }
          }
          span {
            span:first-child {
              font-family: "Noto Serif JP", Sans-serif;
              font-size: 40px;
            }
            span:last-child {
              font-size: 18px;
              line-height: 1em;
            }
          }
        }
      }
      .queryform {
        display: flex;
        flex-direction: column;
        flex: 2;
        padding: 40px;
        background-color: white;
        margin: 50px 0;
        .row {
          display: flex;
        }
        fieldset {
          padding: 0;
          border: 0;
          margin-bottom: 20px;
          width: 100%;
        }
        input:not([type="checkbox"]),
        button,
        select {
          outline: 0;
          width: 100%;
          border: 2px solid #eee;
          height: 40px;
          padding: 4px;
        }
        button {
          border: 0;
          background-color: #00aeff;
          color: white;
          font-size: 1.2em;
        }
        h2 {
          line-height: 1em;
        }
        h3 {
          line-height: 1em;
          font-weight: 300;
        }
        label {
          font-size: 0.9em;
        }
      }
    }
  }

  .testimonials-bg {
    text-align: center;
    h1 {
      font-size: 25px;
      font-weight: 300;
      margin-top: 40px;
    }
    .people {
      display: flex;
      div {
        font-size: 15px;
        font-weight: 300;
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: #edf9ff;
        padding: 30px;
        margin: 10px;
        text-align: left;
        span {
          padding-top: 10px;
        }
        .row {
          display: flex;
          flex-direction: row;
          img {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .about {
    .testimonials-bg {
      div {
        width: 100%;
      }
    }
    .abouttext {
      display: flex;
      p {
        display: flex;
        padding: 30px;
      }
    }
  }

  .footer {
    font-weight: 300;
    display: flex;
    i {
      width: 24px;
    }
    display: flex;
    flex-direction: column;
    line-height: 2em;
    .firstrow {
      background-color: #80a1ba;
      display: flex;
    }
    .secondrow {
      padding: 30px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul {
          padding: 0;
          display: flex;
          align-items: center;
          li {
            padding: 0;
            list-style-type: none;
            display: inline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
