@media screen and (max-width: 570px) {
  .app {
    .inner {
      width: 90%;
    }
    nav {
      ul {
        justify-content: center;
      }
      &:nth-child(2) {
        .brand {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 50%;
            margin-bottom: 10px;
          }
        }
      }
    }
    .mainbg {
      height: 400px;
      padding-bottom: 100px;

      .slogan {
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 16px;
        }
      }
      .searchbox {
        bottom: -40px;
        flex-direction: column;

        width: 90%;
        padding: 20px;
        .location,
        .businessType {
          margin-bottom: 20px;
        }
      }
    }

    .query {
      flex-direction: column;
      .queryinfo {
        div {
          padding: 20px;
          width: 50%;
        }
      }
    }

    .testimonials-bg {
      .people {
        flex-direction: column;
      }
    }
  }

  .about {
    .abouttext {
      flex-direction: column;
      p {
        width: 100%;
      }
    }
  }

  .footer {
    .firstrow {
      .inner {
        flex-direction: column;
        div {
          flex: 1;
        }
      }
      .discover {
        justify-content: flex-start;
        div {
          width: 100%;
        }
      }
    }
  }

  .business {
    .filters {
      .item {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
