@media screen and (min-width: 1024px) {
  .app {
    .inner {
      width: 60%;
    }
    nav {
      &:first-child {
        .brand {
          justify-content: space-between;
          img {
            width: 118px;
            height: 36px;
          }
        }
      }
    }
    .mainbg {
      height: 600px;
      .slogan {
        h1 {
          font-size: 42px;
        }
        h2 {
          font-size: 20px;
        }
      }
      .searchbox {
        bottom: -20px;
        align-items: flex-end;
        width: 70%;
        max-width: 1000px;
        padding: 50px;
        div {
          margin-right: 20px;

          input {
            width: 100%;
            height: 40px;
          }
          &:first-child {
            width: 40%;
          }
          &:nth-child(2) {
            width: 40%;
          }
          &:last-child {
            width: 20%;
          }
        }
      }
    }

    .queryinfo {
      @media screen and (min-width: 1024px) and (max-width: 1445px) {
        flex-direction: column;
      }
      div {
        padding: 50px 20px;
      }
    }

    .testimonials-bg {
      .people {
        flex-direction: row;
        @media screen and (min-width: 1024px) and (max-width: 1445px) {
          flex-direction: column;
        }
      }
    }

    .footer {
      .firstrow {
        .inner {
          display: flex;
          .seperator {
            display: flex;
            flex: 1;
          }
          line-height: 2em;
        }
        .discover {
          display: flex;
          flex: 3;
          flex-direction: column;
          align-items: flex-end;
          div {
            width: 50%;
            text-align: left;
          }
        }
        .contactus {
          flex: 3;
          flex-direction: column;
        }
      }
    }
  }
}
