.app {
  img {
    outline: 0;
  }
  nav {
    display: flex;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      li {
        padding: 0;
        list-style-type: none;
        display: inline;
        cursor: pointer;
      }
    }
    &:first-child {
      padding: 20px 0;
      ul {
        color: #096dba;
        li {
          margin: 0 10px 0 0;
          font-size: 1.2em;
          &:first-child {
            font-size: 2.5em;
          }
          &:nth-child(2) {
            font-size: 1em;
            margin: 0 20px;
          }
        }
      }
    }
    &:nth-child(2) {
      background-color: #096dba;
      ul {
        color: white;
        li {
          font-size: 0.8em;
          font-weight: bold;
          padding: 15px 0;
          width: 100px;
          text-align: center;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          &:hover {
            background-color: #3f94d5;
          }
        }
      }
    }
  }

  .mainbg {
    height: 600px;
    background: linear-gradient(rgba(0, 46, 81, 0.5), rgba(0, 46, 81, 0.5)),
      url(../public/linxbiz-header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .slogan {
      font-family: "Roboto", Sans-serif;
      color: white;

      h1 {
        font-size: 42px;
        font-weight: 200;
      }
      h2 {
        font-size: 20px;
        font-weight: 300;
      }
    }
    .searchbox {
      position: absolute;
      bottom: -20px;
      display: flex;
      background-color: white;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0px 20px 40px 0px rgb(0 0 0 / 10%);
      text-align: left;
      @media screen and (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding: 20px;
      }
      @media screen and (min-width: 501px) {
        align-items: flex-end;
        width: 50%;
        padding: 50px;
      }
      div {
        flex: 1;
        margin-right: 20px;
        align-items: center;
        input {
          width: 100%;
          min-width: 100px;
        }
        input[type="text"] {
          min-width: 200px;
        }
      }
    }
  }

  .slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    background-color: #f7f8f9;
    padding-top: 70px;
    h1 {
      font-size: 25px;
      font-weight: 300;
    }
    h2 {
      color: #7a7a7a;
      font-size: 16px;
      font-weight: 300;
    }
    .carousel {
      max-width: 70%;
      margin: 40px 0;
      border: 10px solid white;
      background-color: white;
      @media screen and (max-width: 500px) {
        max-width: 90%;
      }
    }
  }
}
