@media screen and (min-width: 571px) and (max-width: 1023px) {
  .app {
    .inner {
      width: 80%;
    }
    nav {
      &:first-child {
        .brand {
          justify-content: space-between;
          img {
            width: 118px;
            height: 36px;
          }
        }
      }
    }

    .mainbg {
      height: 600px;
      .slogan {
        h1 {
          font-size: 42px;
        }
        h2 {
          font-size: 20px;
        }
      }
      .searchbox {
        bottom: -40px;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding: 20px;
        div {
          flex: 1;
          margin-right: 0;

          input {
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .query {
      flex-direction: column;
      .queryinfo {
        div {
          padding: 20px;
          width: 50%;
        }
      }
    }

    .testimonials-bg {
      .people {
        flex-direction: column;
      }
    }

    .footer {
      .firstrow {
        .inner {
          display: flex;
          div:nth-child(2) {
            display: flex;
            flex: 1;
          }
        }
        .discover {
          display: flex;
          flex: 3;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          div {
            width: 50%;
            text-align: left;
          }
        }
        .contactus {
          flex: 3;
          flex-direction: column;
        }
      }
    }
  }
}
